<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>FM Index</title>
</head>

<body>
    <div class="main-container">
        {% if jsonData is defined %}
        <div id="plot-wrapper" class="plot-wrapper" data-plot="{{ jsonData }}">
            <canvas style="width: 100%;" id="plot-canvas"></canvas>
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@2.0.5/src/chartjs-plugin-trendline.min.js"></script>
    <script>
        let plotWrapper = document.getElementById('plot-wrapper')
        let dataString = plotWrapper.getAttribute('data-plot')
        let data = {};
        try {
            data = JSON.parse(dataString);
        } catch (e) {
            console.error('Could not parse plot data')
        }

        if (data.plot_data && data.plot_data.ms && data.plot_data.ts) {
            const trendChart = new Chart(document.getElementById('plot-canvas'),{
                type: 'scatter',
                data: {
                    labels: data.plot_data.ms,
                    datasets: [
                        {
                            label: data.title || "Default dataset",
                            data: data.plot_data.ts,
                            trendlineLinear: {
                                colorMin: "red",
                                colorMax: "green",
                                lineStyle: "dotted|solid",
                                width: 2,
                                projection: true
                            }
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: data.y_label
                            },
                        },
                        x: {
                            title: {
                                display: true,
                                text: data.x_label
                            },
                        }
                    }
                }
            })
        }
    </script>
</body>

</html>